/*  Jumbotron style */
.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.display-4 {
    font-weight: bolder;
    color: #0f3057;
    text-align: center;
}

body{
    /* background-color: #07689f; */
    background-color: #1366b4;
}
.search-header{
    font-weight: bolder;
    color: #0f3057;
}
.col-4{
    background-color:#5ba4e7;
}

.col-12{
    background-color:#5ba4e7;
}
.five-day{
    font-weight: bolder;
    color: #0f3057;
}
.col{
    background-color:#5ba4e7;
}